In [8]:
import numpy as np 
import pandas as pd
from sklearn import linear_model 
from sklearn.metrics import mean_squared_error, r2_score 
import matplotlib.pyplot as plt
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')

In [20]:
data = pd.read_csv('./data/Arrestos.csv',sep=',\"')
data.shape
data.head()
data.describe()

/tmp/ipykernel_2198/2178289224.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('./data/Arrestos.csv',sep=',\"')

       "employed""  "citizen""  "checks"""
count          0.0         0.0         0.0
mean           NaN         NaN         NaN
std            NaN         NaN         NaN
min            NaN         NaN         NaN
25%            NaN         NaN         NaN
50%            NaN         NaN         NaN
75%            NaN         NaN         NaN
max            NaN         NaN         NaN

In [18]:
data.iloc[0]

,"released","colour","year","age","sex","employed","citizen","checks"    1,"Yes","White",2002,21,"Male","Yes","Yes",3
Name: 0, dtype: object